body{
    background-color: aquamarine;
}

.Div1{
    background-color: #C0C0C0;
    width: 984px;
}

.Div2{
    background-color: #FF0000;
    width: 1084px;
}

.Div3{
    background-color: #800000;
    width: 1184px;
}

.Arial{
    font-family: Arial, Helvetica, sans-serif;
}

.textarea{
    width: 600px;
    height: 175px;
    resize: none;
}